<div class="text-center task-block">
    <h1 class="h3 mb-3 font-weight-normal">Lista de Tarefas</h1>
    <table class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Prazo</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of DisplayTasks">
                <td>{{ task.description }}</td>
                <td>{{ task.deadline }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <fa-icon class="fa-lg" style="padding-right: 30px;" [icon]="faPencil"></fa-icon>
                    <fa-icon class="fa-lg" [icon]="faCheck"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>