<div class="text-center cadastro-block">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="padding-top: 20px;">Insira seus dados</h1>
        <div class="d-flex" style="display:flex; flex-direction: column;" class="cadastro-sub-block"> 
            <div class="text-spacement-top" style="padding-top: 20px;">
                <input id="name-input" type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="text-spacement-top" style="padding-top: 20px;">
                <input id="email-input" type="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="text-spacement-top" style="padding-top: 20px;">
                <input id="password-input" type="password" class="form-control" placeholder="Senha">
            </div>
        </div>
        <div class="text-spacement-top" style="padding-top: 20px;">
            <button class="btn btn-lg btn-dark btn-block" type="submit">Cadastrar</button>
        </div>
    </form>
</div>